$black: #000;
$light-black: #404040;

$text: hsl(278.18,11.83%,81.76%);
$purple: hsl(265, 58%, 41%);
$teal: hsl(184, 66%, 53%);

$light-100: hsl(276,55.56%,94.71%);
$light-200: hsl(278,53.57%,89.02%);
$light-300: hsl(277.33,54.22%,83.73%);
$light-400: hsl(277,54.55%,78.43%);

$mid-100: hsl(276.16,53.28%,73.14%);
$mid-200: hsl(275.86,52.73%,67.65%);
$mid-300: hsl(275.05,52.33%,62.16%);

$dark-100: hsl(274.43,52.04%,56.67%);
$dark-200: hsl(273.69,52%,50.98%);
$dark-300: hsl(273.47,64.19%,44.9%);
