$black: #000;
$light-black: #404040;

$text: hsl(278.18,11.83%,81.76%);
$purple: hsl(265, 58%, 41%);
$teal: hsl(184, 66%, 53%);

$light-100: hsl(276,55.56%,94.71%);
$light-200: hsl(278,53.57%,89.02%);
$light-300: hsl(277.33,54.22%,83.73%);
$light-400: hsl(277,54.55%,78.43%);

$mid-100: hsl(276.16,53.28%,73.14%);
$mid-200: hsl(275.86,52.73%,67.65%);
$mid-300: hsl(275.05,52.33%,62.16%);

$dark-100: hsl(274.43,52.04%,56.67%);
$dark-200: hsl(273.69,52%,50.98%);
$dark-300: hsl(273.47,64.19%,44.9%);

$dark-purple-100: hsl(258, 100%, 12%);
$dark-purple-200: hsl(258, 100%, 8%);

$orange-500: hsl(23, 85%, 58%);
$orange-400: hsl(29, 85%, 59%);

$purple-1000: hsl(258, 78%, 20%);
$purple-900: hsl(262, 83%, 21%);
$purple-800: hsl(277.33,100%,17.65%);
$purple-700: hsl(284.39,100%,24.12%);
$purple-600: hsl(286.62,100%,27.25%);
$purple-500: hsl(287, 75%, 37%);
$purple-400: hsl(286.98,42.06%,50.59%);
$purple-300: hsl(288.29,41.84%,61.57%);
$purple-200: hsl(288.81,42.45%,72.75%);
$purple-100: hsl(290,42.86%,83.53%);


$red-500: hsl(347, 74%, 51%);
$pink-500: hsl(320, 68%, 46%);
