html {
  height: 100%;
}

body {
  margin: 0;

  h1 {
    color: $teal-300;
    text-shadow: $teal-500 2px 2px 12px;
  }
}

.showcase {
  min-height: 545px;
  margin-top: -55px;
  margin-bottom: -55px;
}

.cta-button {
  background: linear-gradient(0deg, $orange-600, $orange-400);
}

.bg-purple-gradient {
  background: fixed linear-gradient(45deg, $dark-purple-100, $dark-purple-200);
}

.bg-banner-purple-gradient {
  background: linear-gradient(90deg, alpha($purple-1000, 0.89), alpha($purple-800, 0.89));
  border-top: 1px solid $purple-500;
  border-bottom: 1px solid $purple-500;
}

.bg-description-card {
  background: fixed linear-gradient(270deg, alpha($dark-purple-100, 0.89), alpha($dark-purple-200, 0.89));
  border-left: 5px solid $purple-500;
  border-radius: 6px;
}

.svg {
  transform: rotate(90deg);
  background-image: url("/assets/images/oooscillate.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-purple {
  background: radial-gradient($teal-500, $purple);
  border-radius: 6px;
  border: 1px solid $purple-500;
}

.mha {
  margin-left: auto;
  margin-right: auto;
}

.title-text-color {
  color: $light-100;
}

.text-color {
  color: $light-200;
}

.teal-glow {
  box-shadow: 0px 0px 15px 0px $teal-500;
}
