---
---

@function alpha($color, $opacity) {
  $hue: hue($color);
  $saturation: saturation($color);
  $lightness: lightness($color);
  @return hsla($hue, $saturation, $lightness, $opacity);
}


@import "colors";
@import "tachyons.min.css";
@import "theme";

// tachyons override
.dim:focus,.dim:hover{opacity:.8}
.dim:active{opacity:.85;}
