<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% include scripts.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" type="text/css">
  </head>
  <body class="bg-gradient">
    <div>
      <h1>Bitcoin Self Custody Wallet Access Log</h1>
    </div>
    <div class="d-flex">
      <div class="bg-purple">

      </div>

      <div class="description">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu pellentesque velit. Proin nec feugiat metus. Etiam molestie ante nisl, at consequat felis faucibus et. Fusce consectetur lacinia tellus rutrum viverra. Nam facilisis nisi nec leo laoreet cursus. Cras non mauris sit amet ante ultricies mollis eget nec elit. Nunc augue nulla, elementum dignissim erat pretium, posuere porta dolor. Nulla luctus tempus erat, vitae sollicitudin neque dictum id. Cras feugiat ac augue eu ultricies.

         <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
         </ul>
      </div>
    </div>
  </body>
</html>
