<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    {% include scripts.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" type="text/css">
    <link rel="icon" href="/assets/images/favicon.ico">
  </head>
  <body class="bg-purple-gradient sans-serif">
    <div class="svg"></div>
    <div class="tc mv5">
      <h1 class="mha f2 f1-ns lh-title measure">
        Bitcoin Self Custody Wallet Access Log
      </h1>
    </div>
    <div class="pa2 bg-banner-purple-gradient">
      <div class="flex flex-column flex-row-ns justify-around mha mw8 items-center">
        <div class="mw5-m mw6 tc ph0 bg-purple showcase h6 flex-m flex-column-m justify-center-m">
          <div class="pa3 mha mt3">
            {% assign base_book = site.data.wal[page.base_book] %}
            <a href="{{ base_book.url }}" class="swap-link" referrerpolicy="no-referrer" target="_blank">
              <img class="mw5 mw4-m teal-glow shadow-2" src="{{ base_book.image | relative_url }}" alt="Bitcoin Self Custody Wallet Access Log book cover">
            </a>
          </div>
          <div>
            <a class="f3 link db mh3 dim br3 pa3 white cta-button mv2 swap-link" href="{{ base_book.url }}" referrerpolicy="no-referrer" target="_blank">
              <!-- Finalize your setup -->
              <!-- Secure your legacy -->
              Protect your Bitcoin
            </a>
            <span class="text-color">Available on Amazon for <strong>$9.97 USD</strong></span>
          </div>
        </div>

        <div class="text-color pa2 mw6 mt4 mt0-ns">
          <h2 class="f3 f2-l lh-title measure title-text-color">
            <!-- No Bitcoin self custody setup is complete without documentation -->
            <!-- Easily complete your self custody setup -->
            Your Bitcoin may not be as safe as you think it is
          </h2>

          <p class="f4 f3-l lh-copy measure">
            Are you the only person with the knowledge of your self-custody setup?
          </p>
            <!-- Your Bitcoin  -->
          <p class="f4 f3-l lh-copy measure">
            The <em>Bitcoin Self Custody Wallet Access Log</em> is the tool you need to document any step necessary to <strong>access</strong>, <strong>spend</strong> and <strong>recover</strong> your bitcoin.
          </p>

          <!-- <p class="f4 f3-l lh-copy measure">
            Sleep well knowing you've done everything to ensure the accessibility of your sats for generations to come.
          </p> -->
        </div>
      </div>
    </div>

    <div class="mv5 mha mw8 bg-description-card pa3 text-color">
      <h2 class="f3 f2-l lh-title measure title-text-color">
        Easily finalize your self-custody setup
        <!-- Easily complete your self-custody setup -->
      </h2>

      <p class="f4 f3-l lh-copy">
        You'll be thanking yourself later when you write your wallet documentation.
        Here's how easy it is:
        <!-- Examples of using the <em>Wallet Access Log</em> include: -->
        <!-- This <em>Wallet Access Log</em> book features: -->
      </p>

      <ul class="f4 f3-l lh-copy">
        <li>Write as much or as little as you need.</li>
        <li>Use multiple <em>Wallet Access Logs</em> to split the information needed to access your wallets.</li>
        <li>Gift for that special bitcoiner in your life.</li>
        <!-- <li>Fits in a standard bank safe deposit box of 5 inches wide (12.7 cm)</li> -->
        <!-- <li>Measures 4.5 inches wide by 6 inches high (11.4 cm by 15.25 cm)</li> -->
        <!-- <li>Made by bitcoiners for bitcoiners</li> -->
      </ul>
    </div>


    <div class="pa2 bg-banner-purple-gradient">
      <div class="flex flex-column flex-row-ns justify-around mha mw8 items-center">

        <div class="text-color pa2 mw6 mt4 mt0-ns">
          <h2 class="f3 f2-l lh-title measure title-text-color">
            Document crucial wallet details
          </h2>

          <p class="f4 f3-l lh-copy measure">
            The four sections for each wallet ensure you fully document each setup correctly.
          </p>

          <!-- <p class="f4 f3-l lh-copy measure"> -->
            <!-- <strong>Description</strong>, <strong>Access</strong>, <strong>Spending UTXOs</strong>, and <strong>Recovery</strong>. -->
          <!-- </p> -->
          <ul class="f4 f3-l lh-copy">
            <li><strong>Description</strong>: Fill out details of the wallet. Hardware wallet? Software wallet?</li>
            <li><strong>Access</strong>: Fill out details of the wallet. Hardware wallet? Software wallet?</li>
            <li><strong>Spending UTXOs</strong>: Fill out details of the wallet. Hardware wallet? Software wallet?</li>
            <li><strong>Recovery</strong>: Fill out details of the wallet. Hardware wallet? Software wallet?</li>
            <!-- <li>Fits in a standard bank safe deposit box of 5 inches wide (12.7 cm)</li> -->
            <!-- <li>Measures 4.5 inches wide by 6 inches high (11.4 cm by 15.25 cm)</li> -->
            <!-- <li>Made by bitcoiners for bitcoiners</li> -->
          </ul>

          <p class="f4 f3-l lh-copy measure">
            Write as much or as little as you are comfortable. This log book is for you and your loved ones.
            <!-- By keeping the details offline, Write -->
          </p>
        </div>

        <div class="mw5-m mw6 tc ph0 bg-purple showcase h6">
          <div class="pa3 mha">
            <div id="carouselInterior" class="carousel carousel-dark slide pa3" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselInterior" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselInterior" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselInterior" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselInterior" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner teal-glow shadow-2">
                <div class="carousel-item active" data-bs-interval="6000">
                  <img src="/assets/images/interior-description.png" alt="The interior of the Wallet Access Log describing the wallet." class="db w-100">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="/assets/images/interior-access.png" alt="The interior of the Wallet Access Log listing physical access steps." class="db w-100">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="/assets/images/interior-spending-utxos.png" alt="The interior of the Wallet Access Log listing the steps to spend unspent transaction outputs (UTXOs)." class="db w-100">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="/assets/images/interior-recovery.png" alt="The interior of the Wallet Access Log listing the recovery steps to restore the wallet." class="db w-100">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterior" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselInterior" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <p class="text-color">
            <!-- <span class="text-color">Available on Amazon for <strong>$9.97 USD</strong></span> -->

            Example images of a well documented wallet. Complete each page of the log book to your threat level.
          </p>
        </div>
      </div>
    </div>


    <div class="mv5 mha mw8 bg-description-card pa3 text-color">
      <h2 class="f3 f2-l lh-title measure title-text-color">
        Cold storage isn't only for coins
      </h2>

      <p class="f4 f3-l lh-copy">
        This <em>Wallet Access Log</em> book features:
      </p>

      <ul class="f4 f3-l lh-copy">
        <li>Space to document 5 separate wallet setups</li>
        <li>Fits in a standard bank safe deposit box of 5 inches wide (12.7 cm)</li>
        <li>Measures 4.5 inches wide by 6 inches high (11.4 cm by 15.25 cm)</li>
        <li>Made by bitcoiners for bitcoiners</li>
      </ul>
    </div>


    <div class="pa2 bg-banner-purple-gradient mt3">
      <div class="tc">
        <h2 class="f3 f2-l lh-title title-text-color">
          Decoy covers available for extra concealment
        </h2>

        <p class="f4 f3-l lh-copy text-color">
          Thwart would-be thieves with unsuspecting titles to keep your access log concealed from prying eyes.
        </p>

        <p class="f4 f3-l lh-copy text-color">
          The interior contents of each logbook are identical.
        </p>
      </div>
      <div class="flex flex-column flex-row-ns pa2 justify-around mha mw8 items-center">
        {% assign decoy_books = site.data.wal[page.decoy_books] %}
        {% for decoy in decoy_books %}
          <div class="bg-purple mw5-m mw6 ph0 pb3 mha mb3 tc text">
            <div class="pa3">
              <h3 class="lh-title title-text-color">
                Decoy title<br>{{ decoy.name }}
              </h3>
              <a href="{{ decoy.url }}" class="swap-link" referrerpolicy="no-referrer" target="_blank">
                <img class="mw5 mw4-m shadow-2 teal-glow" src="{{ decoy.image | relative_url }}" alt="{{ decoy.name }}: Decoy Cover - Bitcoin Self Custody Wallet Access Log book cover">
              </a>
            </div>
            <div>
              <a class="f3 link db mh3 dim br3 pa3 white cta-button mv2 swap-link" href="{{ decoy.url }}" referrerpolicy="no-referrer" target="_blank">
                Upgrade concealment
              </a>
              <span class="text-color">Available on Amazon for <strong>$9.97 USD</strong></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="site-selector" class="bg-location-select-purple-gradient text-color flex flex-column ph3 pv1">
      <!-- <div class="options-wrapper"> -->
        {% assign countries = site.data.wal["amazon_international"] | sort: 'country' %}
        {% for location in countries %}
          <div class="options" data-domain="{{ location.domain }}" data-identifier="{{ location.identifier }}" title="Amazon {{ location.country }}">
            <div class="flex items-center">
              <div class="flex flex-column items-center ml2 mr3">
                <span class="f3">{{ location.flag }}</span><br>
                <span>{{ location.identifier }}</span>
              </div>
              <div class="f4">
                {{ location.country }}
              </div>
            </div>
          </div>
        {% endfor %}
      <!-- </div> -->
      <div id="site-selector-text" class="flex">
        <div class="flex flex-column items-center mr3">
          <span id="flag" class="f2">🇺🇸</span><br>
          <span id="identifier">US</span>
        </div>

        <button id="site-selector-button" class="f4 flex items-center bg-purple dim link">
          <span class="mr2 text-color">Set Amazon location</span>
          <svg viewBox="0 0 320 512" width="25" fill="#e7d4f2" title="arrow-up">
            <path d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z" />
          </svg>
        </button>
      </div>
    </div>

    </div>
    <footer class="tc mv5">
      <div class="mv2 text-color">
        © 2023 Rock Creek Technologies LLC
      </div>
    </footer>
  </body>
</html>
